.title{
    color: green;
}

.mat-raised-button{
    font-weight: bold;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.example-full-width{
    width: 100%;
}

.error-text {
    color: red;
}